.home{
    text-align: center;
    padding-top: 25%;
    color: rgba(255, 255, 255, 0.966);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 900;
    font-variant: small-caps;
    font-stretch: semi-expanded;
    
}
#details{
    padding-top: 3%;
    background-color: rgba(0, 0, 0, 0.068);
    padding-bottom: 2%;
}
.text1{
    text-align: center;
    padding-bottom: 3%;
    font-family: DejaVu Sans Mono, monospace;

}
.text2{
    text-align: center;
    padding-bottom: 3%;
    font-family: DejaVu Sans Mono, monospace;
    padding-top: 4%;
}
.text3{
    text-align: center;
    padding-bottom: 3%;
    font-family: DejaVu Sans Mono, monospace;
    padding-top: 28%;
}
.text4{
    text-align: center;
    padding-bottom: 3%;
    font-family: DejaVu Sans Mono, monospace;
    padding-top: 35%;
}
#button{
    background-color: transparent;
    border-radius: 12%;
    padding-left: 10px;
    margin-left: 1.5%;
    padding-top: 6px;
    padding-bottom: 6px;
    text-decoration: none;
}
.size1{
    float: left;
    width: 32%;
    height: 17%;
    padding-top: 5%;
    text-align: center;
}
.size2{
    float: left;
    width: 32%;
    height: 17%;
    padding-top: 5%;
    text-align: center;
}
.size3{
    float: left;
    width: 32%;
    height: 12%;
    padding-top: 5%;
    text-align: center;
}
.show1{
    cursor: pointer;
}
.show2{
    cursor: pointer;
}
.show3{
    cursor: pointer;
}